<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-button (click)="lerMapa()" shape= "round" color= "dark">
      <ion-icon slot="start" name="locate"></ion-icon>
      Localizar:
    </ion-button>
    <ion-title slot="end">
     Mapa
    </ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
<div #map id="map"></div>
<div id="container">
  <p> Latitude :  {{ latitude }}</p>
  <p> Longitude :  {{ longitude }}</p>
  <p> Endereço :   {{ endereco }}</p>

   </div>

</ion-content>

  
